<h1>Doctor <%= @doctor.name %>: Appointments</h1>
<%= link_to 'Add Appointment', new_doctor_appointment_path(@doctor) %>
<hr />

<h2>Morning</h2>
<ul>
  <% @mornings.each do |morning| %>
    <li>
      <%= morning.patient.full_name %>
      <br />
      <%= link_to 'Remove', doctor_appointment_path(@doctor, morning), method: :delete %>
    </li>
  <% end %>
</ul>
<h2>Afternoon</h2>
<ul>
  <% @afternoons.each do |afternoon| %>
    <li>
      <%= afternoon.patient.full_name %>
      <br />
      <%= link_to 'Remove', doctor_appointment_path(@doctor, afternoon), method: :delete %>
    </li>
 <% end %>
</ul>
<h2>Evening</h2>
<ul>
  <% @evenings.each do |evening| %>
    <li>
      <%= evening.patient.full_name %>
      <br />
      <%= link_to 'Remove', doctor_appointment_path(@doctor, evening), method: :delete %>
   </li>
 <% end %>
</ul>